extends ../dashboard

block pluginContent
    div.container.pt-5
        div.d-flex.justify-content-between.pb-3
            div
                h5 User Management
                p= lastRefresh
            div.d-flex.justify-content-right.align-items-center
                span#refresh-spinner
                    div(role="status").spinner-border.spinner-border-sm.text-primary
                        span.sr-only
                div.ps-3
                    a(href="/admin/users/refresh" onclick="onRefreshClick()").btn.btn-primary#refresh-button
                        i.bi-arrow-repeat.pe-2
                        span Refresh User Data
                div.ps-3
                    a(href="/admin/users/new").btn.btn-primary
                        i.bi-plus-circle.pe-2
                        span Add New User

        div(style="display: none").alert.alert-danger#alert-div

        div.table-responsive
            table.table.table-hover.table-striped
                thead
                    tr
                        th(scope="col") ID
                        th(scope="col" width="10") Image
                        th(scope="col") Username
                        th(scope="col") UUID
                        th(scope="col") Join Date
                        th(scope="col") Disk Usage
                        th(scope="col") Role
                        th(scope="col") Actions
                tbody
                    for u in users
                        tr
                            th(scope="row")= u.id
                            td(valign="middle" align="center")
                                img(src=`${u.imagePath}`).table-image
                            td= u.username
                            td= u.uuid
                            td= u.creationTime
                            td= u.usage
                            td= u.role
                            td
                                if u.id != user.id
                                    button(data-username=u.username data-path=u.deletePath onclick="confirmDeleteUser(this)").btn.btn-danger.btn-sm Delete

    script(src="/javascripts/admin.js")
