extends ../../../../views/dashboard

block pluginStylesheets
    link(rel="stylesheet" href="/jukebox-extended/stylesheets/index.css")

block pluginContent
    nav.navbar.navbar-light.bg-light#top-navbar
        div.container-fluid.align-items-center
            span.navbar-brand.h1.m-0 All Uploaded Audio Files
            div.ms-auto
                ul.navbar-nav.list-group-horizontal
                    li.nav-item
                        a(href="/jukebox-extended").nav-link.nav-option Your Audio
                    li.nav-item
                        a(href="/jukebox-extended/all").nav-link.nav-option All Audio

    if audios.length == 0
        div(style="padding-top: 40vh").text-center
            p.text-secondary No audio files found. :(
    else
        div.container#audio-container
            div.row.buffer-row
            div.row.row-cols-1.row-cols-lg-2
                for audio in audios
                    div.col.card-column.p-3
                        div.card
                            div.card-body
                                h6.card-title= audio.name
                                div
                                    i.bi-hdd.pe-2.text-secondary
                                    span.card-text.text-secondary= audio.size
                                div
                                    i.bi-person.pe-2.text-secondary
                                    span.card-text.text-secondary= audio.owner
                                div
                                    i.bi-clock.pe-2.text-secondary
                                    span.card-text.text-secondary= audio.uploadDate

                                div.d-flex.justify-content-evenly.options
                                    a(href=audio.downloadPath)
                                        i(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download").bi-cloud-download
                                    if audio.isOwner === true || user.isAdmin === true
                                        a(data-bs-toggle="modal" data-bs-target="#rename-modal" data-id=audio.id data-name=audio.name href="#" onclick="prepareRenameModal(this)")
                                            i(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rename").bi-pencil
                                        a(data-bs-toggle="modal" data-bs-target="#delete-modal" data-id=audio.id data-name=audio.name href="#" onclick="prepareDeleteModal(this)")
                                            i(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete").bi-trash
                                    else
                                        i(disabled).bi-pencil
                                        i(disabled).bi-trash
            div.row.buffer-row
            div.row.buffer-row
            div.row.buffer-row

    nav.navbar.navbar-light.bg-light#bottom-navbar
        div.container-fluid.align-items-center
            span.navbar-brand.h1.m-0
                a(href="/jukebox-extended/upload").btn.btn-primary
                    i(style="margin-right: 0.5em").bi-cloud-arrow-up
                    span Upload Audio File

    div.modal.fade#rename-modal
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h5.modal-title#rename-heading Rename
                    button(data-bs-dismiss="modal" type="button").btn-close

                div.modal-body
                    div(style="display: none").alert.alert-danger#alert-div

                    div
                        label(for="name").form-label Name
                        div.input-group
                            input(type="text" name="name" oninput="updateName()" maxlength="50").form-control#rename-name
                            span.input-group-text#rename-extension .ext
                            input(type="hidden" name="extension")#rename-extension-data
                            input(type="hidden" name="id")#rename-id
                        div.form-text Only A-Z, a-z, 0-9, underscores and hyphens are allowed. Up to 50 characters are permitted.

                div.modal-footer
                    button(data-bs-dismiss="modal" type="button").btn.btn-secondary Cancel
                    button(type="button" onclick="sendRenameRequest()").btn.btn-primary#rename-submit Rename

    div.modal.fade#delete-modal
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h5.modal-title#delete-heading Delete
                    button(data-bs-dismiss="modal" type="button").btn-close

                div.modal-body
                    div.form-text Are you sure you wish to delete this audio file? This cannot be undone.
                    input(type="hidden" name="id")#delete-id

                div.modal-footer
                    button(data-bs-dismiss="modal" type="button").btn.btn-secondary Cancel
                    button(type="button" onclick="sendDeleteRequest()").btn.btn-primary#delete-submit Delete

    script(src="/jukebox-extended/javascripts/index.js")
