extends application

block stylesheets
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    block pluginStylesheets

block content
    div.d-flex.flex-column.p-3.text-white.bg-dark#sidebar
        a(href="/").d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-white.text-decoration-none#logo-container
            img(src="/images/logo.png")#logo
        h6#server-name= serverName
        hr
        ul.nav.nav-pills.flex-column.mb-auto
            for plugin in plugins
                li.nav-item
                    if plugin.active
                        a(href=plugin.path).nav-link.text-white.active
                            i(class=plugin.icon)
                            span= plugin.name
                    else
                        a(href=plugin.path).nav-link.text-white
                            i(class=plugin.icon)
                            span= plugin.name

        if user.isAdmin
            hr
            ul.nav.nav-pills.flex-column
                li.nav-item
                    if admin && admin.page === "statistics"
                        a(href="/admin/statistics/").nav-link.text-white.active
                            i.bi-clipboard-data
                            span Server Statistics
                    else
                        a(href="/admin/statistics/").nav-link.text-white
                            i.bi-clipboard-data
                            span Server Statistics

                    if admin && admin.page === "users"
                        a(href="/admin/users/").nav-link.text-white.active
                            i.bi-people
                            span User Management
                    else
                        a(href="/admin/users/").nav-link.text-white
                            i.bi-people
                            span User Management

        hr

        div.d-flex.align-items-center.text-white.text-decoration-none
            img(src=user.image).rounded-circle#avatar
            span
                strong= user.username
                div
                    a(href="/account").account-button
                        i.bi-gear
                    a(href="/logout").account-button
                        i.bi-box-arrow-left

        div(style="height: 0.7em")

        div#storage.d-flex.align-items-center
            span
                i.bi-hdd
            div.progress.w-100
                div(style="width: " + user.usage.percentage + "%;").progress-bar
                    span(data-bs-toggle="tooltip" data-bs-placement="top" title=user.usage.string style="font-size: 90%").progress-label= `${user.usage.percentage}%`

    div#pluginContent
        block pluginContent
