extends ../../../../views/dashboard

block pluginStylesheets
    link(rel="stylesheet" href="/image-maps/stylesheets/index.css")

block pluginContent
    nav.navbar.navbar-light.bg-light#top-navbar
        div.container-fluid.align-items-center
            span.navbar-brand.h1.m-0 All Uploaded Images
            div.ms-auto
                ul.navbar-nav.list-group-horizontal
                    li.nav-item
                        a(href="/image-maps").nav-link.nav-option Your Images
                    li.nav-item
                        a(href="/image-maps/all").nav-link.nav-option All Images

    if images.length == 0
        div(style="padding-top: 40vh").text-center
            p.text-secondary No images found. :(
    else
        div.container#image-container
            div.row.buffer-row
            div.row.row-cols-1.row-cols-lg-2
                for image in images
                    div.col.card-column.p-3
                        div.card
                            div.row.g-0
                                div.col-4.image-parent
                                    img(src="/image-maps/images/noimage.png" data-url=image.thumbnailPath).blur-image.uploaded-image
                                    img(src="/image-maps/images/noimage.png" data-url=image.thumbnailPath).normal-image.uploaded-image

                                div.col-8
                                    div.card-body
                                        h6.card-title= image.name
                                        div
                                            i.bi-hdd.pe-2.text-secondary
                                            span.card-text.text-secondary= image.size
                                        div
                                            i.bi-person.pe-2.text-secondary
                                            span.card-text.text-secondary= image.owner
                                        div
                                            i.bi-clock.pe-2.text-secondary
                                            span.card-text.text-secondary= image.uploadDate

                                        div.d-flex.justify-content-evenly.options
                                            a(href="#" onclick="copyToClipboard('" + image.command + "')")
                                                i(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy Command").bi-terminal
                                            a(href=image.downloadPath)
                                                i(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download").bi-cloud-download
                                            if image.isOwner === true || user.isAdmin === true
                                                a(data-bs-toggle="modal" data-bs-target="#rename-modal" data-id=image.id data-name=image.name href="#" onclick="prepareRenameModal(this)")
                                                    i(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rename").bi-pencil
                                                a(data-bs-toggle="modal" data-bs-target="#delete-modal" data-id=image.id data-name=image.name href="#" onclick="prepareDeleteModal(this)")
                                                    i(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete").bi-trash
                                            else
                                                i(disabled).bi-pencil
                                                i(disabled).bi-trash
            div.row.buffer-row
            div.row.buffer-row
            div.row.buffer-row

    nav.navbar.navbar-light.bg-light#bottom-navbar
        div.container-fluid.align-items-center
            span.navbar-brand.h1.m-0
                a(href="/image-maps/upload").btn.btn-primary
                    i(style="margin-right: 0.5em").bi-cloud-arrow-up
                    span Upload Image

    div.modal.fade#rename-modal
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h5.modal-title#rename-heading Rename
                    button(data-bs-dismiss="modal" type="button").btn-close

                div.modal-body
                    div(style="display: none").alert.alert-danger#alert-div

                    div
                        label(for="name").form-label Name
                        div.input-group
                            input(type="text" name="name" oninput="updateName()" maxlength="50").form-control#rename-name
                            span.input-group-text#rename-extension .ext
                            input(type="hidden" name="extension")#rename-extension-data
                            input(type="hidden" name="id")#rename-id
                        div.form-text Only A-Z, a-z, 0-9, underscores and hyphens are allowed. Up to 50 characters are permitted.

                div.modal-footer
                    button(data-bs-dismiss="modal" type="button").btn.btn-secondary Cancel
                    button(type="button" onclick="sendRenameRequest()").btn.btn-primary#rename-submit Rename

    div.modal.fade#delete-modal
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h5.modal-title#delete-heading Delete
                    button(data-bs-dismiss="modal" type="button").btn-close

                div.modal-body
                    div.form-text Are you sure you wish to delete this image? This cannot be undone.
                    input(type="hidden" name="id")#delete-id

                div.modal-footer
                    button(data-bs-dismiss="modal" type="button").btn.btn-secondary Cancel
                    button(type="button" onclick="sendDeleteRequest()").btn.btn-primary#delete-submit Delete

    script(src="/image-maps/javascripts/index.js")
