extends ../../../../views/dashboard

block pluginStylesheets
    link(rel="stylesheet" href="/statistics/stylesheets/index.css")

block pluginContent
    nav.navbar.navbar-light.bg-light.sticky-top#top-navbar
        div.container-fluid.d-flex.align-items-center.justify-content-between
            div.d-flex.align-items-center
                img(src=`${selected.image}`).main-image.pe-2
                span.navbar-brand.h1.m-0= `${selected.username}'s Statistics`
            div.d-flex.align-items-center
                span.text-secondary= `Last Updated: ${updateTime}`
                i.bi-info-circle.text-secondary.ps-2(data-bs-toggle="tooltip" data-bs-placement="bottom" title="Statistics are updated every few minutes or when the player disconnects")

    //- Side list of players
    div.h-100
        div.row
            div.col-auto.pe-0
                div.sidelist.fill-height
                    ul
                        li
                            h6.dropdown-header You
                        li
                            a.dropdown-item(href=`/statistics?uuid=${user.uuid}`).d-flex.align-items-center(class=(user.active ? "disabled" : ""))
                                img(src=`${user.image}`).user-image.pe-2
                                span.pe-3= `${user.username}`
                        li
                            hr.dropdown-divider
                        li
                            h6.dropdown-header Others
                        for other in others
                            li
                                a.dropdown-item(href=`/statistics?uuid=${other.uuid}`).d-flex.align-items-center(class=(other.active ? "disabled" : ""))
                                    img(src=`${other.image}`).user-image.pe-2
                                    span.pe-3= `${other.username}`

            //- Stats container
            div.col.fill-height
                div.container
                    div.row.row-cols-sm-1.row-cols-lg-2.row-cols-xl-3.pt-4.pb-4
                        //- General
                        div.col
                            div.card
                                div.d-flex.align-items-center
                                    i.bi-graph-up-arrow.group-icon
                                    h5.m-0 General

                                hr.mt-0.mb-0

                                div.card-body.pt-0.pb-0
                                    each entry, index in stats.general
                                        div.row.entry
                                            div.d-flex.flex-wrap.justify-content-between.align-items-center
                                                div.d-flex.justify-content-left.align-items-center
                                                    p.mb-0(data-bs-toggle="tooltip" data-bs-placement="top" title=`${entry.description}`)= entry.name
                                                    a(href=`/statistics/rankings?key=${entry.minecraftKey}`).text-decoration-none
                                                        p.ms-2.me-2.mb-0.rank= entry.rank
                                                p.mb-0.text-secondary= entry.value

                                        if (index < stats.general.length - 1)
                                            div.separator.m-0
                        //- Distance
                        div.col
                            div.card
                                div.d-flex.align-items-center
                                    i.bi-pin-map.group-icon
                                    h5.m-0 Exploration

                                hr.mt-0.mb-0

                                div.card-body.pt-0.pb-0
                                    each entry, index in stats.distance
                                        div.row.entry
                                            div.d-flex.flex-wrap.justify-content-between.align-items-center
                                                div.d-flex.justify-content-left.align-items-center
                                                    p.mb-0(data-bs-toggle="tooltip" data-bs-placement="top" title=`${entry.description}`)= entry.name
                                                    a(href=`/statistics/rankings?key=${entry.minecraftKey}`).text-decoration-none
                                                        p.ms-2.me-2.mb-0.rank= entry.rank
                                                p.mb-0.text-secondary= entry.value

                                        if (index < stats.distance.length - 1)
                                            div.separator.m-0
                        //- Interactions
                        div.col
                            div.card
                                div.d-flex.align-items-center
                                    i.bi-hand-index.group-icon
                                    h5.m-0 Interaction

                                hr.mt-0.mb-0

                                div.card-body.pt-0.pb-0
                                    each entry, index in stats.interaction
                                        div.row.entry
                                            div.d-flex.flex-wrap.justify-content-between.align-items-center
                                                div.d-flex.justify-content-left.align-items-center
                                                    p.mb-0(data-bs-toggle="tooltip" data-bs-placement="top" title=`${entry.description}`)= entry.name
                                                    a(href=`/statistics/rankings?key=${entry.minecraftKey}`).text-decoration-none
                                                        p.ms-2.me-2.mb-0.rank= entry.rank
                                                p.mb-0.text-secondary= entry.value

                                        if (index < stats.interaction.length - 1)
                                            div.separator.m-0

    script(src="/statistics/javascripts/index.js")
